* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #FAF5EC;
}


/* ================== N A V B A R ===================== */

.navbar-nav {
    margin-left: 30%;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 5px;
    background-color: #FAF5EC;

}

.nav-link {
    position: relative;
    color: #6F4E37;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 40px;

}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #FAF5EC;
    background: #D4A15A;
    transition: .3s;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.nav-link.active {
    color: #D4A15A;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-brand img {
    width: 220px;
    height: auto;
    display: block;
}

/* ================== H E R O ===================== */
.hero {
    width: 100%;
    height: 550px;
    background-image: url("images/Untitled design.jpg");
    background-position: center;
}

/* Black Overlay */

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
}

.hero .container {
    position: relative;
    z-index: 2;
    height: 100%;
}

.hero-content {
    max-width: 560px;
}

/* Welcome */

.hero-welcome {
    text-align: center;
    font-family: 'Alex Brush', cursive;
    font-size: 62px;
    color: #D4A15A;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 8px;
}

/* Cafe Aroma */

.hero-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 92px;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
}

/* Divider */

.hero-divider {
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    margin-bottom: 30px;
}

.hero-divider::before {
    content: "";
    width: 170px;
    height: 2px;
    background: #C89447;
}

.hero-divider::after {
    content: "";
    width: 170px;
    height: 2px;
    background: #C89447;
}

.hero-divider span {
    color: #D4A15A;
    font-size: 18px;
}

/* Subtitle */

.hero-subtitle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 40px;
}

/* Buttons */

.hero-buttons {
    margin-left: 20%;
    display: flex;
    gap: 18px;
}

.hero-btn {
    background: #8B5E3C;
    color: #fff;
    text-decoration: none;
    padding: 16px 38px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
}

.hero-btn:hover {
    background: #A36A43;
    color: #fff;
}

.hero-btn-outline {
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 16px 38px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
}

.hero-btn-outline:hover {
    background: #fff;
    color: #3E2723;
}


/* ============================== ABOUT =========================== */
.about-title {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.about-subtitle {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.about-description {
    font-family: 'Poppins', sans-serif;
}

.about-divider {
    width: 10%;
    margin: 5px 0;
    height: 2px;
    border-radius: 2px;
    background-color: #A36A43;
}

.about-img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

/*==============================
      About Signature
===============================*/

.about-signature {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 35px 0 40px;
}

.signature-line {
    width: 45px;
    height: 2px;
    background: #B67A3D;
    display: block;
}

.signature-text {
    margin: 0;
    font-family: 'Alex Brush', cursive;
    font-size: 2rem;
    font-weight: 400;
    color: #8B5E3C;
    line-height: 1;
}



/* =======================
        MENU
===========================*/

.menu-title {
    font-size: 20px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.9;
}

.menu-divider {
    margin-left: 39%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 30px;
}

.menu-divider::before {
    content: "";
    width: 120px;
    height: 2px;
    background: #C89447;
}

.menu-divider::after {
    content: "";
    width: 120px;
    height: 2px;
    background: #C89447;
}

.menu-divider span {
    color: #D4A15A;
    font-size: 18px;
}

.menu .card {
    break-before: 10px solid black;
    border-radius: 25px 25px 0 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu .card-body {
    background-color: #FAF5EC;
}

.menu img{
    border-radius: 25px 25px 0px 0px;
}

.card-title {
    color: #C89447;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.9;
    font-weight: 400;
}

.card-text {
    font-family: 'Poppins', sans-serif;
}

.card-price {
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
    font-size: 20px;
    font-weight: 700;
}

.features {
    background-color: #F4EADC;
    /* max-height: 450px; */
}

.features .card {
    text-align: center;
    border: none;
    background-color: #F4EADC;
}

.card-2 {
    border-left: 1px solid black !important;
    /* border-width: 2%; */
    border-radius: 0PX;
    border-top: none;
    border-bottom: none;
}
.features .card-icon{
    width: 20%;
}
.features .card-title{
    font-family: 'Poppins', sans-serif;
    color: #6F4E37;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}


/* ===================
        TESTIMONIALS
=====================*/

.testimoials .card{
    border: none;
    display: flex;
    background-color: #F4EADC;
}
.testimoials .card i{
    color: #3E2723;
}
.testimoials .card-body{
    padding: 10px 10px;
}
.testimoials .card-text{
    font-size: 17px;
    margin-left: 35px;
}
.testimoials .rating{
    font-size: 15px;
    color: gold;
    margin-left: 35px;
}
.testimoials .details{
    display: flex;
    margin-left: 35px !important;
    margin: 15px 0;
}
.details .details-img{
    width: 10%;
    height: 35px;
    border-radius: 50%;
}
.details .details-name{
    margin-left: 10px;
}

footer{
    background-color: #F4EADC;
}

.footer .footer-card {
    display: flex;
    border: 0;
    background-color: #F4EADC;
}
.footer .card-icon{
    width: 20%;
}
.footer-icon{
    margin-top: 52px;
    font-size: 30px;
    z-index: 99999;
}
.footer .footer-details{
    z-index: 0;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 35px;
}
.footer-link-title{
    margin-top: 25px;
    text-align: center;
    display: block;
}
.footer-link i{
    margin: 0 15px;
}
.footer-end{
    text-align: center;
    padding: 15px;
    background-color: #3E2723;
    color: #F4EADC;
    margin-top: 15px;
    margin-bottom: 0;
}
.footer-title{
    color: #3E2723;
}



















/* Responsive */
@media (max-width:480px) {

    /*=============================== N A V B A R ============================ */

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #FAF5EC;
        z-index: 9999;
        padding: 15px 0;
    }

    .navbar-brand img {
        width: 180px;
    }

    .navbar-toggler {
        border: none;
        box-shadow: none !important;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #FAF5EC;
        padding: 15px 0;
    }

    .navbar-nav {
        margin-left: 0;
        text-align: center;
    }

    .nav-item {
        margin: 12px 0;
    }

    .nav-link {
        margin-left: 0;
        display: inline-block;
    }


    /*=============================== H E R O ============================ */



    .hero {
        padding: 120px 15px 70px;
        background-position: 95%;
        background-size: cover;
    }

    .hero-welcome {
        text-align: center;
        font-size: 36px;
    }

    .hero-title {
        text-align: center;
        font-size: 48px;
        line-height: 1.2;
    }

    .hero-divider {
        margin-left: 25%;
        gap: 10px;
        margin-bottom: 25px;
    }

    .hero-divider::before,
    .hero-divider::after {
        width: 70px;
    }

    .hero-divider span {
        font-size: 16px;
    }

    .hero-subtitle {
        text-align: center;
        font-size: 18px;
        line-height: 1.7;
        padding: 0 10px;
    }

    .hero-buttons {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hero-btn,
    .hero-btn-outline {
        width: 220px;
        text-align: center;
        padding: 14px 20px;
    }

    .about-content {
        text-align: center;
    }

    .about-divider {
        margin-left: 45%;
    }

    .about-description {
        font-size: 16px;
    }

    .about-signature {
        justify-content: center;
        margin: 30px 0;
    }

    .signature-line {
        width: 40px;
    }

    .signature-text {
        font-size: 1.8rem;
    }

    .menu-divider{
        margin-left: 15%;
    }
    .menu .card{
        margin: 20px auto;
        border: 1px solid black;
    }
    .features .card{
        border: 0px !important;
    }
   .footer .card{
        border: 0px !important;
        text-align: center;
    }
    .footer-link{
        margin-left: 20%;
        margin-bottom: 10px;
    }
    
}
